<a href="https://colab.research.google.com/github/RushabhSingwi/RCOEM-Systems-Lab/blob/main/Practical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(i)Write a python Program to Print data of different data types using variables and literal constants.
(string, int, float, complex)

In [ ]:
a = "Rushabh"
b = 5
c = 3.14
d = 9 + 4j
print(a)
print(b)
print(c)
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(id(a))
print(id(b))
print(id(c))
print(id(d))

Rushabh
5
3.14
(9+4j)
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
140689817304880
11126816
140689681350064
140689679733648

(ii)Write a python Program to read two numbers from user input and apply all the arithmetic and
comparison(Relational) operators.

In [ ]:
a = float(input("Enter the first number "))
b = float(input("Enter the second number "))
#Aritmatic Operator
print("Addition is: ",a+b)
print("Subtraction is: ",a-b)
print("Division is: ",a/b)
print("Int Division is: ",a//b)
print("Multiplication is: ",a*b)
print("Exponential is: ", a**b)
print("Modulus division is:",a%b)
#Conditional Operator
print("a > b is:",a>b)
print("a >= b is:",a>=b)
print("a < b is:",a<b)
print("a <= b is:",a<=b)
print("a == b is:",a==b)

Enter the first number 5.4
Enter the second number 9.8
Addition is:  15.200000000000001
Subtraction is:  -4.4
Division is:  0.5510204081632653
Int Division is:  0.0
Multiplication is:  52.92000000000001
Exponential is:  15047309.23779464
Modulus division is: 5.4
a > b is: False
a >= b is: False
a < b is: True
a <= b is: True
a == b is: False

(iii)Write a python Program to demonstrate Logical operators,Identity operators,and Membership
operator in python.

In [ ]:
#Logical operators
a = 40
b = 30
print(a>10 and b<40)
print(a==3 or b>3)
print(not a==40)

#Identity operator 
print(a is b)

#Membership Operator
c = a in [10,15,40, 60 ,90]
print(c)

True
True
False
False
True

(iv) Write a Python program to input temperature in Fahrenheit and convert into Celsius. And
vice versa

In [ ]:
a = float(input("Enter Temperature in Fahrenheit "))
b = float(input("Enter Temperature in Celcius "))
cel = ((5/9)*(a-32))
far = (9/5)*b +32
print("Temperature in Celcius is:", cel)
print("Temperature in Fahrenheit is:", far)

Enter Temperature in Fahrenheit 102
Enter Temperature in Celcius 38
Temperature in Celcius is: 38.88888888888889
Temperature in Fahrenheit is: 100.4

VI Write a python program to generate bill a grocery store. Accept from user: name of item, quantity, cost for three items.
Compute the actual cost payable by applying discount(in %) and tax(in %).

In [1]:
from prettytable import PrettyTable
item1 = input("Enter first item name: ")
quan1 = input("Enter quantity of first item: ")
price1 = float(input("Enter price of first item: "))
item2 = input("Enter second item name: ")
quan2 = input("Enter quantity of second item: ")
price2 = float(input("Enter price of second item: "))
item3 = input("Enter third item name: ")
quan3 = input("Enter quantity of third item: ")
price3 = float(input("Enter price of third item: "))
total = price1 + price2 + price3
print("***********BILL*************")
myTable = PrettyTable(["Item name","Quantity","Price"])
myTable.add_row([item1, quan1, price1])
myTable.add_row([item2, quan2, price2])
myTable.add_row([item3, quan3, price3])
print(myTable)
print("*****************************")
print("Total                 ",total)
print("*****************************")
print("Discount               ",0.1*total)
print("Tax                     ",0.05*total)
print("*****************************")
print("Payable amount         ",0.95*total)
print("*****************************")

Enter first item name: maggie
Enter quantity of first item: 3
Enter price of first item: 30
Enter second item name: soap
Enter quantity of second item: 4
Enter price of second item: 50
Enter third item name: bucket
Enter quantity of third item: 1
Enter price of third item: 60
***********BILL*************
+-----------+----------+-------+
| Item name | Quantity | Price |
+-----------+----------+-------+
|   maggie  |    3     |  30.0 |
|    soap   |    4     |  50.0 |
|   bucket  |    1     |  60.0 |
+-----------+----------+-------+
*****************************
Total                    140.0
*****************************
Discount             14.0
Tax                  7.0
*****************************
Payable amount            133.0
*****************************